<table mat-table [dataSource]="dataSource" matSort [matSortDisabled]="!allowSort" matSortDirection="asc" [attr.aria-rowcount]="dataSource?.rows.length + 3">

  <!-- Here, container templates are being defined and used later in the actual inner template view of the table -->
  <!-- matColumnDef of the ng-container defines the name which is referenced by *matHeaderRowDef, *matRowDef later on -->

  <!-- Rendering progress bar while refreshing -->
  <ng-container matColumnDef="$progress">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="columns.length">
      <div style="position: absolute; top: 0; width: 100%; height: 4px; z-index: 100;">
        @if (refreshing) {
          <xc-progress-bar color="primary" />
        }
      </div>
    </th>
  </ng-container>

  <!-- Rendering an overlay box while refreshing -->
  <ng-container matColumnDef="$overlay">
    <th #overlay role="presentation" mat-header-cell *matHeaderCellDef [attr.colspan]="columns.length">
      @if (refreshing) {
        <div class="overlay" [style.width]="overlay.clientWidth + 'px'"></div>
      }
    </th>
  </ng-container>

  <!-- Rendering footer -->
  <ng-container matColumnDef="$more">
    <td mat-footer-cell *matFooterCellDef [attr.no-data]="noData || undefined" [attr.colspan]="columns.length">
      <div>
        @if (dataSource?.showFooterLabels) {
          <label class="left">{{dataSource?.footerLabelLeft}}</label>
        }
        @if (dataSource?.moreDataAvailable && !noData) {
          <xc-icon-button xc-icon-name="arrowdown" (click)="loadMoreData()" />
        }
        @if (dataSource?.showFooterLabels) {
          <label class="right">{{dataSource?.footerLabelRight}}</label>
        }
      </div>
    </td>
  </ng-container>
  <!-- Container template view of a table body row -->
  @for (column of columns; let i = $index; track i) {
    <ng-container [matColumnDef]="getColumnID(column)">
      <th mat-header-cell *matHeaderCellDef attr.aria-sort="{{getAriaSortForColumn(column)}}" scope="col"
        [class.shrink]="column.shrink"
      >
        <span mat-sort-header [disabled]="column.disableSort">
          @if (leadingActions && i === 0) {
            {{ actionsColumnHeaderLabel }}
          } @else {
            {{ translateLabels ? i18n.translateSignal(getColumnLabel(column))() : getColumnLabel(column) || '&nbsp;'}}
          }
        </span>
        <div class="filter-container">
          @if (allowFilter) {
            <xc-template [xc-template-instance]="getColumnFilterTemplate(column)"
              [xc-template-aria-label]="getColumnFilterAriaLabel(getColumnLabel(column))"
             />
          }
        </div>
      </th>
      <td mat-cell *matCellDef="let row;"
        role="cell"
        (click)="selectCell(row, column.path, $event.ctrlKey || $event.metaKey, $event.shiftKey)"
        [ngClass]="getCellStyles(row, column.path)"
        [class.selected]="isCellSelected(row, column.path)"
        [class.shrink]="column.shrink"
        [class.break]="column.break"
        [class.pre]="column.pre"
        [class.align-right]="column.align === 'right'"
        [class.align-center]="column.align === 'center'"
        [attr.aria-label]="getCellData(row, column.path) ? ( translateLabels ? i18n.translateSignal(getColumnLabel(column))() : getColumnLabel(column)) : null"
        >
        <ng-container *xc-var="getCellData(row, column.path); let cellData">
          <!-- ngIf = displays cellData xc-templates if it is an Array -->
          @if (resolveCellValue(cellData)?.constructor?.name === 'Array') {
            <div class="template-container">
              @for (template of resolveCellValue(cellData); let i = $index; track i) {
                <xc-template [xc-template-instance]="template" />
              }
            </div>
          } @else {
            <span role="link" class="text-cell" [attr.lang]="column.pronunciationLang || null">{{ resolveCellValue(cellData) }}</span>
          }
          <!-- ngElse = displays cellData as text -->
          <!-- ngIf = displays the action elements only in the last column -->
          @if (!leadingActions && i === columns.length - 1 || leadingActions && i === 0) {
            <!-- action buttons in last column -->
            <div class="action-elements">
              @for (actionElement of dataSource?.actionElements; let i = $index; track i) {
                <div>
                  <!-- chrome bugfix: "&& !actionElement.disabled" is sometimes necessary to prevent click -->
                  @if (actionElement.onShow && actionElement.onShow(row) || !actionElement.onShow) {
                    <xc-icon-button (click)="actionElement.onAction && !actionElement.disabled && actionElement.onAction(row)"
                      [class]="actionElement.class"
                      [disabled]="actionElement.disabled"
                      [xc-tooltip]="resolveDynamicString(actionElement.tooltip)"
                      [xc-icon-name]="actionElement.iconName"
                      [xc-icon-style]="actionElement.iconStyle"
                      [xc-button-aria-label]="actionElement.ariaLabel ? actionElement.ariaLabel() : undefined"
                      xc-icon-size="small"
                     />
                  }
                </div>
              }
            </div>
          }
        </ng-container>
      </td>
    </ng-container>
  }

  <!-- Here begins the actual inner template view of the xc-table using the containers defined above -->
  <tr mat-header-row attr.aria-rowindex="1" *matHeaderRowDef="columnIds; sticky: true"></tr>
  <tr mat-header-row attr.aria-rowindex="2" *matHeaderRowDef="['$progress']" role="presentation"></tr>
  <tr mat-header-row attr.aria-rowindex="3" *matHeaderRowDef="['$overlay']" role="presentation"></tr>
  <tr mat-footer-row *matFooterRowDef="['$more']"></tr>
  <tr mat-row *matRowDef="let row; columns: columnIds;"
    (mousedown)="mouseDown($event)"
    (dblclick)="doubleClickRow(row)"
    (click)="selectRow(row, $event.ctrlKey || $event.metaKey, $event.shiftKey)"
    [class.focused]="isRowFocused(row)"
    [class.selected]="isRowSelected(row)"
    [class.activated]="isRowActivated(row)"
    [class.visibleactions]="visibleActions"
    [attr.aria-selected]="isRowSelected(row)"
    [attr.aria-rowindex]="getRowIndex(row) + 4"
  ></tr>
  <!--
  [attr.aria-rowindex]="getRowIndex(row) + 4"
  +1, because aria-rowindex starts with 1 not 0
  +3, because there are three rows in the table header
  -->
</table>
@if (noData && !refreshing) {
    <label class="no-data">{{noDataLabel}}</label>
}
